[alias]
	addn = add -Nv
	br = branch -vv
	bra = branch -vva
	c = "!git add -p && git commit"
	ca = c --amend
	contains = branch -a --contains
	default = "!git symbolic-ref --short refs/remotes/origin/HEAD | sed 's@^origin/@@'"
	diffc = diff --cached
	fixup = "c --fixup"
	gone = "!git branch -v | grep ' \\[gone\\] ' | awk '{print $1}'"
	gone-remove = "!git gone | xargs -r git branch -d"
	gone-remove-force = "!git gone | xargs -r git branch -D"
	main = "!git checkout $(git default) && git pull --ff-only && git gone-remove; echo && git br"
	merged = branch -a --merged
	no-merged = branch -a --no-merged
	pushff = push --force-with-lease
	st = status -sb
[pull]
	ff = only
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autoStash = true
	autoSquash = true
[user]
	useconfigonly = true
	name = Dietrich Moerman
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	pager = less -RFX
	autocrlf = input
[color]
	ui = true
[commit]
	verbose = true
	gpgsign = true
[fetch]
	prune = true
[merge]
	conflictStyle = zdiff3
	tool = nfugitive
[mergetool "nfugitive"]
	cmd = nvim -c "Gvdiffsplit!" "$MERGED"
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[diff "markdown"]
	xfuncname = "^#+.*$"
[stash]
	showPatch = true
	showIncludeUntracked = true
[init]
	defaultBranch = main
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[delta]
	color-only = true
[interactive]
	diffFilter = delta
[advice]
	detachedHead = false
	forceDeleteBranch = false
	skippedCherryPicks = false
[tag]
	gpgSign = true
[include]
	path = local.inc
