[alias]
	addn = add -N
	addp = add -p
	br = branch -vv
	bra = branch -vva
	c = "!git add -p && GIT_EDITOR='nvim +startinsert' git commit"
	ci = commit --allow-empty -m 'Retrigger CI'
	contains = branch -a --contains
	default = "!git symbolic-ref --short refs/remotes/origin/HEAD | sed 's@^origin/@@'"
	diffc = diff --cached
	gone = "!git branch -v | grep ' \\[gone\\] ' | awk '{print $1}'"
	gone-remove = "!git gone | xargs -r git branch -d"
	main = "!git checkout master || git checkout main && git pull --ff-only && git gone-remove"
	merged = branch -a --merged
	no-merged = branch -a --no-merged
	setuser = "!f() { printf 'Email address: ' && read email && git config user.name 'Dietrich Moerman' && git config user.email $email; }; f"
	st = status -sb
[pull]
	ff = only
[push]
	default = current
[user]
	useconfigonly = true
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	pager = less --tabs=4 -RFX
	autocrlf = input
[color]
	ui = true
[commit]
	verbose = true
	gpgsign = true
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
	tool = nfugitive
[mergetool "nfugitive"]
	cmd = nvim +Gdiff "$MERGED"
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[diff "markdown"]
	xfuncname = "^#+.*$"
[stash]
	showPatch = true
[init]
	defaultBranch = main
