snippet gomock "gomock.NewController" b
ctrl := gomock.NewController(t)
endsnippet

snippet mockgen "//go:generate mockgen" b
//go:generate go run github.com/golang/mock/mockgen -source `!p snip.rv = fn` -destination `!p snip.rv = snip.basename`_mock.go -package `!p snip.rv = os.path.basename(os.path.dirname(path))`
endsnippet

snippet dump "fmt.Printf('%+v\n', ...)" b
fmt.Printf("%+v\n", ${1:variable})
endsnippet
